*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none; 
   /* border: solid; */
}
body{
    
    display:flex;
    flex-direction:column;
    
    color: white;
    /* overflow:hidden; */
    font-family: Arial,sans-serif;
    background-image:linear-gradient(110deg,rgb(32, 2, 29),rgb(72, 143, 179),rgb(26, 14, 26));
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}



/*section0*/
.section0{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    background-image:url('./images/karis/culture1.jpg.jpg'); 
    background-size:cover;   
}

#navbar{
    font-family:  'Arial Narrow', Arial, sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    /* position: fixed; */
    z-index: 99;
    /* margin-top: 5rem; */
    background-color: rgba(243, 233, 242, 0.968);
    /*border: solid;*/
    
}
.logo-header{
    color:rgb(196, 159, 92);
    margin-left: 1em;
   margin-right: 9rem;
   padding: 0.5em;
    text-transform: uppercase;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:8rem;
    background-color:rgb(13, 28, 29);
  background-image: url('./images/karis/culture2.jpg.jpg');
  
  background-repeat:
   no-repeat;
   background-position: center;
   
  background-blend-mode: darken;
}
.logo-header a{
    width: 100%;
    height: 100%;
}
.logo-header img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: .2em solid;
   border-radius: 8%;
   display: block;
}

span{
    color:rgb(247, 83, 18);
    font-size: 1.1rem;
    text-align: center;
    font-family: 'Arial Narrow', Arial;
}
#navbar .nav-links {
    font-size: 1.2rem;
    width: 100%;
    height:100%;
    display: flex;
    list-style: none;
    align-items: center;
    gap:0.5em;
}
#navbar .nav-links li{
    width: 100%;
    height: 7rem;
}
#navbar .nav-links .act {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    position:relative;
}

#navbar .nav-links .act label {
   /* width:20rem; */
   height:7rem;
   display:flex;
   gap: 0.5em;
   color:black;
}
.fa-caret-down{
    
    
    transition: all 300ms linear;
}
/* .fa-caret-down:hover{
    transform:rotate(180deg);
} */
#navbar .nav-links .act label:hover> .fa-caret-down{
    transform:rotate(360deg);
    color:rgb(3, 166, 248);
}

#navbar .nav-links li a{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 100ms ease-in;
}

#navbar .nav-links li label{
    
    text-decoration: none;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 100ms ease-in;
}
#navbar .nav-links li .sub-links-ul li a{
    color:white;
}

#navbar .nav-links li .sub-links-ul li a:hover{
    color:rgb(196, 159, 92); 
}

 /* #navbar .nav-links .act:hover> .sub-links-ul li{
    height: 7rem;
    z-index:999;
} 

#navbar .nav-links .act .sub-links-ul li a:hover {
    font-size: 0.82em;
    
    background-color: rgba(255, 127, 80,0.5);
    color: white;
} */

/* #navbar .nav-links li a,
#navbar .nav-links li label{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 100ms ease-in;
} */
#navbar .nav-links li a:hover,
#navbar .nav-links li label:hover
{
    font-size: 1.2rem;
    color:rgb(196, 159, 92);
    cursor: pointer;
    
}

#navbar .nav-links li .active{
    color:orangered;
}
#navbar #check,.checkbutton .fas{
    display: none;
    font-size: 2.25rem;
    cursor: pointer; 
    
      
}
.sub-links-ul {
  
    position:absolute;
    color: white;
    height: 0rem;
    width: 0rem;
     top: 15rem;
     transition:all 300ms linear ;
     /* transition-timing-function: cubic-bezier(0.175, 0.285, 0.32, 0.275); */
}
.sub-links-ul li{
    text-align:center;
    font-size:0em;
    height: 0em;
    /* padding: 0em; */
    width: 0em;
    color: white;
    opacity:0;
    transition: opacity 500ms linear;
    
    
}


#drop:checked~ .sub-links-ul{
    height: 21rem;
    width: 30rem;
     position:absolute;
     top: 7rem;
     background-color: rgb(3, 166, 248);
     
      
      
  }
  
  #drop:checked ~ .sub-links-ul li{
    
    
    font-size: 0.9em;
    height: 7rem;
    width:100%;
    background-color: rgb(118, 20, 131);
    background-image:linear-gradient(110deg,rgb(32, 2, 29),rgb(72, 143, 179),rgb(26, 14, 26));
    /* text-align:center; */
    color: white;
    opacity:1;
  }
  
.sub-links-ul li:hover{
    border-bottom-left-radius: 0.99em;
      border-bottom-right-radius: 1.99em;
   
      
     
}

#drop{
    display: none;
}

form{
    
    /*position: absolute;*/
    
    display: none;
    /* color:rgb(196, 159, 92);
    padding: 0.7em; */
}
form button{
    background:rgb(196, 159, 92);
    color: white;
    border: none;
    font-size: 0.7em;
    z-index: 1;
    width: 5rem;
    padding: 0.8em;
    cursor: pointer;
    transition: 100ms ease-in;
    transition-duration: 200ms;
}
form #btn-r:hover{
    transform: scale(1.05);
     
}
form #btn-l:hover{
    transform: scale(1.05); 
}

/*section1*/
.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10rem;
   position:relative;
    background-color: rgb(1, 15, 24);
    background-image: url('./images/karis/culture3.jpg.jpg');
    background-blend-mode: darken;
     overflow:hidden;
}
.gallery-cont{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top: 5rem;
    /* gap: 1em; */
    flex-wrap:wrap;
    width: 100%;
    padding: 3em; 
    
}
.section1 .heading{
    
    color: white;
    width: 100%;
    margin: 1.5em;
    font-size: 1.8em;
    margin-top: 6rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    padding-left: 2em;
    
}
.img-cont{
    display: flex;
    flex-direction: column;
    width: 30%;
   /* height: 50%; */
   z-index: 10;
   margin: 3rem;
   
   /* cursor:pointer; */
   overflow:hidden;
   transition: all 10ms linear;
    
}
.img-cont a{
    overflow: hidden;
    display: flex;
    flex-direction: column;

}
.gallery-cont .img-cont a{
    
}
.gallery-cont .img-cont img{
    width: 100%;
   height: 100%;
    object-fit:cover;
    transition: all 400ms linear;
    
}
.gallery-cont .img-cont img:hover{
    cursor:pointer;
    transform: scale(1.0155);
    

}
.gallery-cont .img-cont:hover{
    box-shadow: 0em 0em 1em rgba(69, 200, 233,0.3);
}
.gallery-cont .img-cont figcaption{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    height: 15rem;
    gap: 0.5em;
    padding: 0.2em 0em 0em 0em;
    opacity: 0;
    transition:opacity 350ms linear;
}
.gallery-cont .img-cont:hover figcaption{
    opacity:1;
}
.img-tag{
    width: 100%;
    font-size: 0.7em;
    margin-bottom: 5rem;
    padding-left: 0.8em;
}
.gallery-cont .img-cont figcaption h1{
    font-size: 1.2em;
    padding-left: 0.3em;
}
.caption{
    
    font-size: 0.8em;
    width: 100%;
    color:white;
    text-align: start;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* text-transform: uppercase; */
   border-top-left-radius: .3em;
   border-top-right-radius: .3em;
    padding:0.7em;

}
.san {
    color:rgb(247, 83, 18);
    background-color: rgb(138, 111, 79,0.5);
}
img{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    
}

/*image slider*/
#slider{
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    overflow: hidden;
}
.slide {
    width: 100%;
    height: 100vh;
    animation: 60s slide ease-in-out infinite;
    
}
#slider .slide a{
    width: 100%;
}
#slider .slide a img{
    width:100vw;
    height: 100vh;
    object-fit: cover;
}
#slider .slide a figcaption{
    position: absolute;
    top: 50%;
    padding: 0.5em;
    width: 25rem;
    margin-left: 2.5em;
    display: flex;
    flex-direction: column;
    
    color: white;
    
    line-height: 1.3;
}
#slider .slide a figcaption h1{
    font-size: 1rem;
}
#slider .slide a figcaption:hover{
    color: rgb(17, 5, 1);
    background:rgba(196, 159, 92,0.5);
}
@keyframes slide {
    0% {transform: translateX(0);
    }
    25% {transform: translateX(0);
    }
    30% {transform: translateX(-100%);
    }
    50% {transform: translateX(-100%);
    }
    55% {transform: translateX(-200%);
    }
    75% {transform: translateX(-200%);
    }
    80% {transform: translateX(-300%);
    }
    100% {transform: translateX(-300%);
    }
    
}
/* article */
.art{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 5rem;
    
}
.art-header{
    color:white;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}
.art-p{
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    font-size: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
}
.art-cont{
    position: relative;
    display:flex;
    justify-content:center;
    padding:1em;
    flex-wrap: wrap;
    gap: 0.3em;
    /* padding:2em; */
    margin-bottom: 8rem; 
    /* background-image:linear-gradient(110deg,rgb(32, 2, 29),rgb(72, 143, 179),rgb(26, 14, 26)); */
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    
}
.art-cont a{
    text-decoration: none;
    color:black;
}
.art-card{
    width: 18rem;
    height: 35rem;
    /* border: 1px solid rgb(179, 177, 177); */
    border-bottom: .15em solid rgb(148, 135, 135);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    transition: all 200ms linear;
     box-shadow: .3em 0.2em 0.5em  rgba(0, 0, 0, 0.5);
     background-color: white;
    margin: 2em;
}
 .art-card:hover{
    cursor: pointer;
    /* background-color: rgba(20, 122, 182, 0.5); */
    background-color: rgba(88, 188, 255, 0.2);
    box-shadow: .3em 0.2em 0.5em  rgba(0, 0, 0, 0.5);
    border: none;
} 
.art-card:hover .art-image{
    transform:scale(1.08);
}
.read-more{
    width:7rem;
    padding: 0.3em;
    font-weight: 550;
    font-size: 0.9em;
    transition: all 500ms ease-in-out;
}
.more{
    color:white;
    display:flex;
    align-items: center;
    gap:0.3em;
    justify-content: center;
   text-align:center;
    margin-bottom: 3rem;
    width: 10rem;
    height: 3rem;
    padding:.7em;
    background-color: rgb(71, 2, 71);
    transition: all 100ms linear;
}
.more:hover{
    border-radius: 0.3em;
  
    transform:scale(1.02);
}
.art-card:hover .read-more{
    margin-left: 5rem;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border-radius: 0.3em;
    color:rgb(117, 198, 209);
    font-weight: 100;
    padding: 1em;
    background-color: rgb(71, 2, 71);
    text-align:center;
}
.art-img-div{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    overflow:hidden;
}
.art-text{
    display:flex;
    flex-direction: column;
    padding:0.3em 0em 0.1em 0.5em;
}
.art-img-tag{
    font-size: 0.7em;
}
.art-text h1{
    padding: 0.3em;
    margin-bottom: 1rem;
}
.art-text .art-caption{
    padding:0.3em;
    font-family:'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10rem;
    
}

.art-image{
    display:block;
    object-fit: cover;
    width: 100%;
    height: 20%;
    transition: transform 600ms linear;
   transition-timing-function: cubic-bezier(1.875, 0.885, 0.2, 1.1);
}


/* footer */
.address h1{
    font-size: 1.6em;
}
footer .address{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
footer .address .smicons{
    display: flex;
   
}
footer .address .smicons ul li{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:0.8em;    
}
footer .address .smicons ul li i{
    color:rgb(255, 187, 0);
    font-size: 1.2em;
}
.foot-links {
    display:flex;
    flex-direction: column;;
    gap:2em;
    
}
.foot-links li a{
      color:white;
 
}
.foot-links li a:hover{
    color:purple;
}
.copyrights{
    margin-top: 2em;
}
.logo-footer p{
    margin-top: 5em;
    font-size: 0.8em;
}

/*section 2:*/
.about-section{
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: .5em;
    /* color: black; */
    /* background-color: grey;
    background-image:url('./images/karis/culture3.jpg.jpg'); */
    background-blend-mode:darken;
}
.about-info{
    padding: 0.5em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:0.5em;
    /* background-color:rgb(233, 228, 228);
    background-image:linear-gradient(110deg,rgb(32, 2, 29),rgb(72, 143, 179),rgb(26, 14, 26)); */
    color: white;
    border-radius: .3em;
}

.info-cont{
    margin-top: 3rem;
    padding: 0.3em;
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-bottom: 10rem;
    gap: 3em;
    
}
.info-card{
    width: 100%;
    border: 1px solid;
    border-radius:0.3em;
}
.info-card p{
    text-align:center;
    border-top:1px solid rgb(92, 179, 179);
    display:flex;
    justify-content: center;
    align-items:center;
}
.about-section .about-info h1{
    margin-top: 1em;
    width: 100%;
    color:white;
}
.about-section .about-info h1,h3,h4{
    padding: 0.3em;
    font-weight: 500;
    font-size: 1.5em;
    
}
.about-section .about-info h3,h4{
    
    text-align:center;
}
.about-section .about-info .glides h1{
    font-size: 1em;
    border:none;
}
.about-section .about-info h5{
    padding: 0.8em;
    font-size: 1em;
    font-weight: 500;
    border-top:1px solid rgb(92, 179, 179);
  margin-bottom: 3em;
}
.info-card ul{
   padding:0.5em;
   display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    gap: 3em;
}
.info-card ul li{
   padding:0.8em;
   border:1px solid;
   border-radius:0.2em;
}

.about-section .about-info p{
    padding: 0.5em;
    font-size: 0.99em;
    width: 100%;
}

/* image click slide*/
.article {
    width: 30%;
    height: 100vh;
    margin-bottom: 10rem;
  
    
    
}
.glider{
    position: relative;
    width: 100%;
    height:100%;
    overflow: hidden;
    
    
}
.glides{
    display: flex;  
    position: absolute;
    top: 0;
    left:0;
    width: 400%;
    height: 100%;
    transition: all 0.35s cubic-bezier(0.155, 0.03, 0.915, 0.999);
   
}
#image1,#image2,#image3,#image4{
    border-radius:48%;
    background-color: purple;
    width:70%;
    height: 60%;
    display:block;
    object-fit:cover;
}

.glide{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.glide figcaption{
    padding: .5em;
    margin-top:5rem;
}
.glide  p{
    display: flex;
    flex-wrap:wrap;
    text-align: center;
    padding: 0.3em;
    margin-top: 0.5em;
}


.glide a{
    padding: 0.3em;
    margin-top: 2em;
    border:1px solid;
    width: 7rem;
    height:3rem;
    display:flex;
   justify-content: center;
    align-items: center;
    color: orangered;
    transition: 200ms ease-in;
}
.glide a:hover{
   transform:scale(1.1);
   border:none;
   color:white;
   font-weight: 0;
   padding: 0.5em;
   background: rgb(136, 86, 68);
}

.dots{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items:center;
    color: black;
    width: 150px;
    bottom: 10%;
    left: 40%;
    
}
.glider .dots label{
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.glider input[type='radio']{
    display: none;
}
.glide::before{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.glider .arrows{
    display: flex;
    position: absolute;
    top: 63%;
    transform:  translateY(-50%);

    font-size: 1.2rem;
    
}
.article .glider .arrows .fa-solid{
   
    padding: 18px 20px;
    background-color: rgb(82, 12, 99);
    color: white;
    font-size: 0.8rem;
}
.glider .arrows label{
    display: none;
}
.glider .arrows label .fa-solid:hover{
    cursor: pointer;
    background-color: rgb(50, 98, 161);
    transition: 0.10s ease-in-out;
}
.glider .arrow-left{
    left: 0%;
}
.glider .arrow-right{
    right: 0%;
}
.glider input:nth-child(1):checked ~ .glides{
    left: 0;
}
.glider input:nth-child(2):checked ~ .glides{
    left: -100%;
}
.glider input:nth-child(3):checked ~ .glides{
    left: -200%;
}
.glider input:nth-child(4):checked ~ .glides{
    left: -300%;
}
.glider input:nth-child(1):checked ~ .arrows label:nth-child(1),
.glider input:nth-child(2):checked ~ .arrows label:nth-child(2),
.glider input:nth-child(3):checked ~ .arrows label:nth-child(3),
.glider input:nth-child(4):checked ~ .arrows label:nth-child(4){
    display: block;
}
.glider input:nth-child(1):checked ~ .dots label:nth-child(1),
.glider input:nth-child(2):checked ~ .dots label:nth-child(2),
.glider input:nth-child(3):checked ~ .dots label:nth-child(3),
.glider input:nth-child(4):checked ~ .dots label:nth-child(4){
background-color: rgb(9, 28, 65); 
transition: 0.15s ease-in-out;  
}

/* Our Activities/Events */
/* page1/Infrastruce Development */

.inf-dev{
    color:black;
    padding: 3em;
    /* background-color: grey;
    background-image: url(./images/karis/culture3.jpg.jpg); */
    background-blend-mode: darken;
    margin-top:3rem;
    
}
.inf-dev-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(243, 233, 242, 0.968); */
    gap:2em;
    color: white;
}

.idg{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:2em;
}
.inf-dev-cont header{
    width: 100%;
    
}
.inf-dev-cont header h1{
   font-size: 2em;
   text-transform: uppercase;
    
}

.inf-dev-cont img{
    height: 100%;
    object-fit: cover;
}

.idg  a{
    
    width: 30%;
   border: solid green;
}
.inf-dev-cont img:hover{
    border:solid blue;
}
/* page2 */
.mens-health{
    padding:3em;
    margin-top:3rem;
    /* background-color:grey;
    background-image: url('./images/karis/culture3.jpg.jpg');
    background-blend-mode:darken;
    
    color:black; */
    
    
}
.mh-cont{
    display:flex;
    flex-direction: column;
    
    
    color:white;
}
.mh-cont p{
   padding: 1em;
}
.mh-cont header h1{
    padding: 0.2em;
    font-size: 2em;
   text-transform: uppercase;
  
  
}
.mh-gallery-cont{
    display:flex;
    
    justify-content:center;
    align-items:center;
    gap:2em;
    padding:3em;
}
.mh-gallery-cont a{
    width: 30%;
    height: 30%;
}
.mh-gallery-cont a img{
    object-fit:cover;
    width:100%;
    height:100%;
    display:block;
}
/* page3 */
.ins-sup{
    padding: 3em;
    margin-top:3rem;
    color:black;
    
    /* background-color:grey;
    background-image: url('./images/karis/culture3.jpg.jpg');
    background-blend-mode:darken; */
}
.is-cont{
    display:flex;
    flex-direction: column;
    gap:2em;
    color:white;
}
.is-cont p{
    padding:1em;
}
.is-header h1{

    font-size: 2em;
   text-transform: uppercase;
    font-weight:900;
}
.is-gallery-cont{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:2em;
    padding:3em;
}
.is-gallery-cont a{
    width: 30%;
    height: 30%;
}
.is-gallery-cont a img{
    object-fit:cover;
    width:100%;
    height:100%;
}
/* donations image */
.dn-img-cont{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.dn-img{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 50vw;
    height: 90vh;
     object-fit:cover;
}
.dn-img img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
/* section 2*/
.section2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-bottom:5rem;
}
.don-cont{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
   
}
.don-cont p{
 
 text-align:center;
}
.don-cont form{
    display: flex;
    flex-direction: column;
   
    width:100%;
}
.dfh{
    display:flex;
    justify-content:center;
    height: 5rem;
   
   
}
.dfh label{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    border: .2em solid;

}
.dfh label:hover{
    background-color:rgba(68, 204, 228,0.2);
    cursor:pointer;
    
}
.dfc{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    padding:0.3em;
    position:relative;
}
.dfi{
    opacity:0;
    transition: opacity 200ms linear;
}
.dfi-1{
    opacity:0;
    transition: opacity 200ms linear;
}
.dfc p a{
    color: white;
}
.dfc p a:hover{
    color: rgb(255, 209, 2);
}
.dfc p a{
    color: white;
}

#f-tag,#f-tag1{
    display:none;
}

#f-tag:checked ~ .dfc .dfi{
    opacity:1;
    
    line-height: 2em;
    /* width: 41.5rem; */
    
}
#f-tag1:checked ~ .dfc .dfi-1{
    opacity:1;
    
    line-height: 2em;
    /* width: 41.5rem; */
    
}
/* section 3 */
.section3{
    padding: 1em;
}
.ds-cont{
    display: flex;
    flex-direction:column;
    gap: 2em;
}
.ds-card{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    gap: 1em;
    margin: 2em;
}
.ds-card h1{
    margin-bottom: 3rem;
    
 }
.ds-card ul{
    display: flex;
    flex-direction:column;
    gap: 1em;
}
.ds-card a{
    display: flex;
    justify-content: center;
    align-items:center;
    
    width: 10rem;
    height: 3rem;
    color: white;
    margin-top: 8rem;
    box-shadow: 0em 0em .3em .1em rgba(22, 31, 34, 0.8);
}
.ds-card a:hover{
    background-color: purple;
    box-shadow: 0em 0em .3em .3em rgba(74, 129, 156, 0.8);
    transform:scale(1.02);
    border:none;
}

/* footer */
footer{
    color: black; 
 }
 .address{
     display: column;
     gap: 1em;
 }
 
 .smicons ul{
     display:flex;
     align-items:center;
     flex-wrap:wrap;
     gap:1.5em;
 
 }
 .smicons ul li a{
     display: flex;
     align-items:center;
     color: black;
   
 }
 .smicons ul li a i{
     font-size: 1.5em;
     color: black;
     width: 1.5em;
     height:1.5em;
     display: flex;
     justify-content: center;
     align-items: center;
     list-style:none;
     text-decoration: none;
 }
 #logof{
     width: 5em;
     height: 5em;
     object-fit: cover;
 }
 footer {
    padding: 2em; 
    color:white;
 }

/* media queries */
@media (max-width:920px) {
    
    #navbar{
        
        display: flex;
        justify-content: center;
        align-items: center;
        height:10rem;
    }
    #navbar .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-image:linear-gradient(110deg,rgb(32, 2, 29),rgb(72, 143, 179),rgb(26, 14, 26));
        top:20rem;
       font-size: 0px;
       width: 0px;
       height: 0px;
       transition: all 800ms ease-in-out;
    }
    #check:checked~ .nav-links li{
       
    }
     
     #check:checked~ .nav-links {
        font-size: 1.2rem;
        position: absolute;
        background-color: rgb(60, 2, 68);
        display: flex;
        flex-direction: column;
        
        width: 60%;
        height: 25rem;
        top: 12rem;
    } 
    #navbar .nav-links .act label{
        color:white;
    }
    #navbar .nav-links li a{
        color:white;
        
    }
     #navbar .nav-links li:hover{
        color: orangered;
     }
    

    /* #navbar .nav-links .act:hover > .sub-links-ul {
        background-color: rgba(196, 159, 92);
        z-index: 999;
        
        width: 100%;
        font-size: 0.9em;
        
    } */
   
    /* #navbar .nav-links .act .sub-links-ul li a:hover {
        font-size: 0.9em;
        
        background-color: rgba(255, 127, 80);
       
    } */
    /* #navbar .nav-links li a:hover{
    font-size: 1.22rem;
    color:white;
   
    font-weight: 300;
    width: 100%;
} */
#navbar .nav-links li a:hover,
    #navbar .nav-links li label:hover{
        font-size: 1.1rem;
       
    }
#navbar .nav-links li a.active{
    color:orangered;
    font-weight: 400;
}
.sub-links-ul{
    height: 0em;
    width: 0em;
    top: 7rem;
    font-size:0em;
    transition: all 400ms linear; 
}
.sub-links-ul li{
    text-align: center;
    
    height: 0em;
    font-size:0em;
    transition: font-size 10ms linear; 
}
#drop:checked ~ .sub-links-ul{
    font-size: 0.99em;
    width:100%;
    
    
}
#drop:checked ~ .sub-links-ul li{

   
    font-size: 0.99em;
    /* height: 7rem; */
    width:100%;
    justify-content: center;
    text-align: center;
    padding: 1em;
   /* background-color: rgb(196, 159, 92); */
  }
  
   
    .logo-header{
        
        border: solid;
        position:absolute;
        left:0em;
        
    }
    .checkbutton{
        
        text-align: center;
        position: absolute;  
        right: 2em; 
        top: 3.2rem;
        
        

    }
    
    #navbar .checkbutton .fas{
        display: flex;
        align-items: center;
        color:rgb(196, 159, 92);
        font-size: 3.5rem;
        z-index: 999;
        cursor: pointer; 
        width: 3.5rem;
        height: 3.5rem;
        
    } 
    
    
    
    .caption{
        top: 30rem;
        font-size: 1.5rem;
        left: 0px;
        width: 18rem;
    }
   .san{
        background-color: rgb(138, 111, 79);
   }
   /* .section{
    display: flex;
    padding: 0em;
    
 } */

 .art-card:hover .read-more{
    margin-left: 5rem;
}

 .gallery-cont{
    padding:0.5em;
 }
 .section1 .heading{
    
    color: white;
    width: 100%;
    padding:0.5em;
    font-size: 1.8em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    
}
 .img-cont{
    width:100%;
    z-index:1;
 }
 .img-cont .caption{
   font-size: 1em;
   width: 100%;
   flex-wrap:wrap;
 }
   
   /*click slide*/ 
   .article{
    width:60%;
}
/* #image1,#image2,#image3,#image4{
    border-radius:48%;
    background-color: purple;
    width:70%;
    height: 60%;
    display:block;
    object-fit:cover;
} */
.glide {
    gap: 0.5em;
    object-fit:cover;
}
.glide p{
    display:flex;
    justify-content:center;
}
.glide a{
    margin-top:0.6em;
} 
.dn-img{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 90vw;
    height: 50%;
     object-fit:cover;
}
}
@media (max-width:498px) {
   
    .section0{
        width: 100%;
        display: flex;
        justify-content: center;
        
       
    }
    #navbar{
        
        display: flex;
        justify-content: center;
        align-items: center;
        height:10rem;
    }
    #navbar .nav-links {
       
        position: absolute;
        
        display: flex;
        flex-direction: column;
        background-image:linear-gradient(110deg,rgb(32, 2, 29),rgb(72, 143, 179),rgb(26, 14, 26));
        top: 12rem;
       
       font-size: 0px;
       width: 0px;
       height: 0px;
       transition: all 500ms ease-in;
       
       
        
    }
    #navbar .nav-links .act label {
        color:white;
     }
    
     
     #check:checked~ .nav-links {
        font-size: 1rem;
      
        display: flex;
        flex-direction: column;
        z-index:999;
        
        height: 32rem;
        top: 12rem;
        width:85%;
       
    } 
    
    /* #navbar .nav-links li a:hover,
    #navbar .nav-links li label:hover{
        font-size: 1.1rem;
        color: black;
    }
     */
    .sub-links-ul{
        height: 0em;
        width: 0em;
        top: 7rem;
        font-size:0em;
        transition: all 400ms linear; 
    }
    .sub-links-ul li{
        text-align: center;
        
        height: 0em;
        font-size:0em;
        transition: font-size 10ms linear; 
    }
    #drop:checked ~ .sub-links-ul{
        font-size: 0.99em;
        width:100%;
        
        
    }
    #drop:checked ~ .sub-links-ul li{
    
       
        font-size: 0.99em;
        /* height: 7rem; */
        width:100%;
        justify-content: center;
        text-align: center;
        padding: 1em;
       /* background-color: rgb(196, 159, 92); */
      }
      
      #navbar .nav-links li .active{
        color:orangered;
    }
    
    .logo-header{
        font-size: 1.2rem;
        border: solid;
        position:absolute;
        left:0em;
        
    }
    #navbar form{
    
        position: absolute;
        bottom:0.5em;
        right:0;

        
       
        padding: 0em;
        gap: 0.5em;
    
    }
    form #btn-r,#btn-l{
        width: 4rem;
        
    }
    .checkbutton{

        text-align: center;
        position:absolute;
        top: 4.35em;
        right: 3em;
    }
    
    #navbar .checkbutton .fas{
        display: flex;
        align-items: center;
        color:rgb(196, 159, 92);
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        cursor: pointer; 
       
        
    }
   
    .caption{
        top: 30rem;
        font-size: 1.5rem;
        left: 0px;
        width: 18rem;
    }
   
   /* image slide media query */
   #slider .slide a img{
    
    width:100vw;
    object-fit:cover;
}

 #slider .slide a figcaption{
    font-size: 0.6em;
    top: 23rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    margin: 2em;
 }
 /* art */
 .art-text h1{
    padding: 0.3em;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}
 .art-header{
    display:flex;
    justify-content: center;
    align-items:center;
    color:white;
    text-align:center;
    font-size: 1.5rem;
}
 /* section1 */
 .section{
    display: flex;
    padding: 0em;
    
 }
 .gallery-cont{
    padding:0.5em;   
    
 }
 .gallery-cont .heading{
    
    color: black;
   
    
}
 .img-cont{
    width:100%;
    z-index:1;
    
 }
 .img-cont .caption{
   font-size: 0.7em;
   width: 100%;
   flex-wrap:wrap;
 }
 
/* about section */
.about-section{
    display:flex;
    justify-content: center;
    padding:0.5em;
}
.about-info{
    width:100%;
   
    margin:0px;
}
.about-section .about-info h1,h3,h4{
    
    font-size: 1.2em;
   
    
    
}
/* glider */
.article{
    width: 100%;
}
.glide img{
    width: 30%;
    object-fit:cover;
}

.inf-dev{
    padding:0.5em;
}
.inf-dev-cont header h1{
    font-size: 1.2em;
 }
 .idg{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.idg a{
    width: 100%;
    height:30% lujh;
}
.idg a img{
    object-fit: cover;
}
 
 /* menstrual health */
.mens-health{
    padding:0.5em;
}
.mh-cont header h1{
    font-size: 1.2em;
 }
 .mh-gallery-cont{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.mh-gallery-cont a{
    width: 100%;
    height:30%;
}

 /* ins support */
.ins-sup{
    padding:0.5em;
}
.is-cont header h1{
    font-size: 1.2em;
 }
.is-gallery-cont{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.is-gallery-cont a{
    width: 100%;
    height:30%;
}
.dfc{
    gap:0em;
}
#f-tag:checked ~ .dfc .dfi{
    opacity:1;
    
    line-height: 2em;
   
   
}
#f-tag1:checked ~ .dfc .dfi-1{
    opacity:1;
   
    line-height: 2em;
   
    
    
}
 
}

